body {
    text-align: center;
    margin: 0;
}

main {
    max-width: 450px;
    margin: 40px auto;
    text-align: left;
}

h1 {
    font-weight: normal;
    margin-top: 40px;
}

.subtitle {
    color: #0EB4FC;
}

.paragraph, .intro {
    text-align: left;
    margin-top: 20px;
}

.list {
    margin-left: 15px;
}

footer {
    margin-top: 40px;
}


img {
    width: 150px;
}
